.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  width: 35%;
  position: fixed;
  min-height: 500px;
  bottom: 5%;
  top: 15%;
}

.contentWrapper {
  width: 65%;
}

.contentWrapper, .characterWrapper {
  display: inline-block;
}

.controlColumn {
  width: calc(50 / 65 * 100%);
}
